.first {
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.onlyHeader {
    font-weight: bold;
    text-align: center;
    background-image: url(https://images.ctfassets.net/yr4qj72ki4ky/legacyBlogPost330Thumbnail/01233a36797099116ff116428b46e9bc/HR-four-pairs.jpg?q=72);
    width: 100%;
    height: 500px;
    font-size: 100px;
}

.list {
    background-image: url();
}
